body, #Content {font-family: "Lucida Grande","Trebuchet MS","Bitstream Vera Sans",Verdana,Helvetica,sans-serif;font-size: 12px;line-height: 18px;}
pre { 
  margin:1em 0!important;
  font-size:12px!important;
  background-color:#f8f8ff!important;
  border:1px solid #dedede!important;
  padding:.5em!important;
  line-height:1.5em!important;
  color:#444!important;
  overflow:auto!important;
}
pre code {
  padding:0!important;
  font-size:12px!important;
  background-color:#f8f8ff!important;
  border:none!important;
}
code { 
  font-size:12px!important;
  background-color:#f8f8ff!important;
  color:#444!important;
  padding:0 .2em!important;
  border:1px solid #dedede!important;
}
table {
border-collapse:collapse;
width:100%;
}
table,th, td {
border: 1px dotted grey;
}
td{
  padding:2px;
  background-color:#f8f8ff!important;
}