/*order ui css*/
#request {
	margin: 5px;
}

#response {
	margin: 5px;
	/*display: none;*/
}

#toolbar-uuid {
  padding: 10px;
}

#toolbar-kid {
  padding: 10px;
}

#uuid {
	width: 340px;
	height: 20px;
}

#kid {
	width: 315px;
	height: 20px;	
}

#sr-ordre-uuid {
	float: left;
	width: 450px;
}

#sr-ordre-kid {
	float: right;
	width: 450px;
}

#uuid-b {
	float: right;
}

#kid-b {
	float: right;
}

#kunde-search-orders {
	padding-top: 40px;
}

.stylecls {
	border-collapse:collapse;
}

.stylecls, .styletd {
	border: 1px solid #D9DBDF;
	padding: 7px;
}

.stylehd {
	border: 1px solid #D9DBDF;
	padding: 7px;
	font-weight: bold;
	background-color: #cccccc;
}

.styleth {
	border: 1px solid #D9DBDF;
	background: #F6A828;
	padding: 7px;
	color: #1C94C4;
}

.steplink {
	text-decoration: underline;
	color: #1C94C4;
	cursor: pointer;
}